<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @gift.url %>
</p>
<p>
  <strong> <%= @gift.title %></strong>
 <%= @gift.description %>
 <%= image_tag @gift.image.url(:medium) %>
</p>

<p>
  <strong>User:</strong>
  <%= @gift.user %>
</p>

<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
